<div class="post">
    <table style="text-align: left; width: 100%">
        <thead>
        <tr valign="top">
            <th colspan="2"><img style="float: left" src="{{ post.author.avatar(64) }}">

                {% if not post.author.is_deleted %}
                    &nbsp;
                    <a href="{{ url_for('user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% else %}
                    <a style="text-align: left; float: left"
                       href="{{ url_for('user', username=post.author.username) }}">[deleted]</a>
                {% endif %}
            </th>
            <th>
                <div style="float: right">Score: {{ post.upvoters.count() }}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3">
                <hr>
                <p>{{ post.body }}</p></td>
        </tr>
        <tr>
            <td colspan="3">
                {% if post.upvoters.count() > 0 %}
                    +:
                    {% for user in post.upvoters %}
                        {% if not user.is_deleted %}
                            <a href="{{ url_for('user', username=user.username) }}">
                                {{ user.username }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('user', username=user.username) }}">[deleted]</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
            <td>
                <a class="floated" href="{{ url_for('post', post_id=post.id) }}">link</a>
            </td>
        <td colspan="2">
                {% if not current_user.is_anonymous %}
                    {% if not post.author == current_user %}
                        {% if not post.is_upvoting(current_user) %}

                            <form class="floated" style="float: right" action="{{ url_for('upvote', post_id=post.id) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='➕') }}
                            </form>

                        {% else %}

                            <form class="floated" style="float: right" action="{{ url_for('unupvote', post_id=post.id) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='➖') }}
                            </form>

                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if current_user == post.author or current_user.is_admin %}
                    <form class="floated" style="float: right" action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='🗑️') }}
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
</div>